@charset "UTF-8";
/*em HTML é id    =     em CSS é #
  em HTML é class =     em CSS é .
*/

body{
    background-color:rgb(147, 179, 147)
    font-family- sans-serif, Arial, Helvetica ;
}
#principal{
    color: aliceblue;
    text-align: center ;
    background-color:#327A51

}

h1{
    color:darkgreen;
}
h2{
    color:rgb(82, 104, 45);
}

.ba {
    color:rgba(36, 53, 126, 0.637);
}
.inter{

    color:rgb(195, 112, 45);
}

.avançado{
    color:rgb(129, 48, 48);
}
.destaque{
    background-color:rgba(116, 84, 73, 0.767)
}