@charset "UTF-8";

*{
    margin: 0;
    padding:0;
}

html, body{
    min-height: 100vh;
    background-color:darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header a:hover , footer a:hover {
    color: white;
text-decoration: underline;
font-weight: bolder;
}

header a  , footer a {
text-decoration: none;
color: white;

}
 header >p {
    padding-bottom: 50px ;
 }
 section{
padding-top: 10vh;
padding-bottom: 10vh;

 }
section.normal{
    background-color: white;
    color:black;
}
section.imagem{
    background-color:darkslategray;
    color: white;
}

 footer{
    background-color:black;
    color: white;
    text-align: center;
    padding: 10px;
 }
    

 
 